<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="johnahnz0rs > coding dojo > mean > express.js > Dojo Secrets">
		<link rel="stylesheet" href="/bootstrap.css">
		<link rel="shortcut icon" href="/favicon.ico">
		<script src="/jquery.min.js"></script>
		
		<title>Dojo Secrets</title>
		<style>
			.container { width: 970px; margin: 40px auto; }
            .error {color: red};

			.nav { margin-bottom: 40px; }
            .nav_h1 { display: inline-block; }
            .pull-right { float: right !important; display: inline-block !important; }

            #create_secret {
                border: 1px solid black;
                padding: 20px;
                width: 100%;
                margin-bottom: 40px;
            }
            #create_secret hr { border-color: dodgerblue; }
            #submit_secret {
                background-color: dodgerblue;
                color: white;
                border-radius: 10px;
                margin-top: 5px;
                padding: 10px 20px;
            }

            #display_secrets {
                border: 1px solid black;
                border-radius: 10px;
                padding: 20px;

            }
		</style>
	</head>
	<body>
		<div class="container">
			<div class="nav">
				<h1 class="nav_h1">Dojo Secrets</h1>
				<p class="pull-right"><a class="pull-right" href="/logout">Logout</a></p>
			</div>


            <% if (typeof error != 'undefined') { %>
                <h1 class="error">lol error: <%= error %></h1>
            <% } %>




            <div id="create_secret">
                <p>Create a secret</p>
                <hr>
                <form method="post" action="/secrets">
                    <input type="hidden" name="user_id" value="<%= session.user_id %>">
                    <input type="text" name="secret" id="my_secret" size="100" placeholder="Confess your secret to me, my child.">
                    <br>
                    <input type="submit" value="Submit" id="submit_secret">

                </form>

            </div>




            <div id="display_secrets">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">All the secrets</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% if (session.secrets.length < 1) { %>
                            <tr>
                                <td>No secrets yet</td>
                            </tr>
                        <% } else { %>
                            <% for (const i in session.secrets) { %>
                                <tr>
                                    <td>
                                        <a href="/secrets/<%= session.secrets[i]._id %>">
                                            <%= session.secrets[i].secret %>
                                        </a>
                                            <% if (session.secrets[i]._user._id == session.user_id) { %>
                                                <span class="pull-right">
                                                    <a href="/delete/<%= session.secrets[i]._id%>">Delete</a>
                                                </span>
                                            <% } %>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>

                    </tbody>


                </table>

            </div>

		</div>
	</body>
</html>